//************************************
//# icon
//************************************
.ico{
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 0;
  vertical-align: middle;
  font-size: 0;
}
// icon cancle
.ico-cancle{
  @include iconCancel(); 
}
// icon arrow
.ico-arr{
  &-top{
    @include iconAngle('top');
  }
  &-bottom{
    @include iconAngle('bottom');
  }
  &-left{
    @include iconAngle('left');
  }
  &-right{
    @include iconAngle('right');
  }
}
// icon triangle
.ico-triangle{
  &-top{
    @include iconTriangle('top');
  }
  &-bottom{
    @include iconTriangle('bottom');
  }
  &-left{
    @include iconTriangle('left');
  }
  &-right{
    @include iconTriangle('right');
  }
}
// icon filter
.ico-filter{
  display: inline-block;
  background: SVGFilter($black) no-repeat 50% 50%;
  width: 18px;
  height: 18px;
  line-height: 0;
  vertical-align: middle;
  font-size: 0;
}
