//************************************
//# table
//************************************
.table{
  th{
    text-align: left;
    font-weight: 400;
  }
  td{
    padding: 5px 0;
    font-weight: 300;
    font-size: 15px;
  }
}