//************************************
//# Form
//************************************
input[type="text"],
input[type="email"],
select,
textarea{
  border: 1px solid $grey-ea;
  background-color: $white;
  width: 100%;
  padding: 12px 14px;
  font-size: 1rem;
  font-weight: 300;
  box-sizing: border-box;
  vertical-align: middle;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &::placeholder{
    color: $grey-cc;
    font-weight: 300;
  }
  &:focus{
    border-color: $black;
  }
}
input[type="text"],
select{
  height: 48px;
}
select{
  background-image: url('../images/common/bg_slct_arr.svg');
  background-position: top 50% right 10px;
  background-size: 8px 5px;
  background-repeat: no-repeat;
}
textarea{
  min-height: 160px;
  resize: vertical;
}
.form{
  // layout
  &-group{
    display: block;
    margin-bottom: 20px;
    &.is-error{
      input,select,textarea{
        border-color: $black;
      }
      .form-group-txt{
        display: block;
      }
    }
    input,
    textarea,
    select{
      margin-bottom: 6px;
    }
    &-tit{
      display: block;
      margin-bottom: 8px;
      font-size: 0.9375rem;
      font-weight: 400;
    }
    &-txt{
      display: none;
      font-size: 0.8125rem;
      font-weight: 300;
      color: $color-accent;
    }
  }
  //# Form inline Group : ex) email
  &-inline{
    display: flex;
    input[type="text"],
    select{
      flex: 1;
    }
    em{
      align-self: center;
      padding: 0 5px;
    }
  }
  //# chk Group
  &-chk{
    position: relative;
    input[type="checkbox"]{
      display: none;
      width: 0;
      height: 0;
      border: 0 none;
      font-size: 0;
      +label{
        &:before{
          content:'';
          display: inline-block;
          border: 1px solid $grey-f0;
          background: $white;
          width: 20px;
          height: 20px;
          margin: 0 10px 2px 0;
          vertical-align: middle;
        }
        .chk{
          position: absolute;
          top: 15px;
          left: 11px;
          width: 6px;
          height: 10px;
          transform: translate(-50%, -50%) scale(1, 1.06667) rotate(45deg);
          margin-top: -2px;
          border-right: 2px solid rgb(255, 255, 255);
          border-bottom: 2px solid rgb(255, 255, 255);
        }
      }
      &:checked+label:before{
        background: $black
      }
    }
  }
  //# file Group
  &-file{
    position: relative;
    display: flex;
    input[type="file"]{
      position: absolute;
      top:0;
      left:0;
      width: 0;
      height: 0;
      border: 0 none;
      font-size: 0;
    }
    input[type="text"]{
      flex:1;
    }
    .btn{
      border-color: $grey-52;
      background-color: $grey-52;
      height: 48px;
      padding: 12px 16px;
      color: $white;
      font-weight: 400;
      font-size: 0.9375rem;
      &:active{
        background-color: $white;
        color: $black;
      }
    }
    &+.file-txt{
      position: relative;
      display:inline-block;
      margin-top: 8px;
      padding-left: 15px;
      font-size: 0.875rem;
      font-weight: 300;
      &:before{
        content: '※';
        display:inline-block;
        position: absolute;
        left:0;
      }
    }
  }
}

// select box with text field
.slct-txt{
  flex:1.7;
  position: relative;
  select{
    width: 100%;
    padding-top:0;
    padding-bottom: 0;
  }
  input{
    display: none;
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    border: 0 none;
    width: calc(100% - 40px);
    padding-right: 0;
  }
}